* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #1B1B1B;
}

body {
    height: 100%;
}

h1, h2 {
    margin: 0;  
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    z-index: 2;
}

fieldset {
    border: none;
}

button {
   border: none;
}

.nav_header_widescreen {
    display: none;
}

.wrapper {
    width: 87.5vw;
    max-width: 1600px;
    height: 100%;
    margin: auto;
}

.logo_wrapper {
    width: 100%;
    max-width: 485px;
}

.logo_link  {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
}

.logo_name {
    font-family: 'Fraunces', serif;
    font-size: 13px;
    font-weight: 600;
    color: #338EEE;
    white-space: pre;
    margin-left: 8px;
}

.btn {
    display: inline-block;
    font-family: 'Fraunces', serif;
    font-size: 16px;
    font-weight: 700;
    color: #338EEE;
    border-radius: 40px;
    background-color: #FED500;
    padding: 16px 40px 16px 40px;
    transition: all .35s;
}

.btn:hover {
    background-color: #F9FE00;
    transition: all .35s;
}

.btn:active {
    background-color: #338EEE;   
    color: #FFF; 
}

.icon_burger_wrapper {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}

.icon_burger {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #338EEE;
    border-radius: 5px;
}

.icon_burger::before {
    content: '';
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 40px;
    height: 5px;
    background-color: #338EEE;
    border-radius: 5px;
}

.icon_burger::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 40px;
    height: 5px;
    background-color: #338EEE;
    border-radius: 5px;
}

.icon_cross_wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.icon_cross {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #ccc;
    transform: rotate(45deg);
}

.icon_cross::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #ccc;
    transform: rotate(90deg);
}

.nav_header_mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fbfbfb;
    transform: translateY(-490px);
    transition: 'transform 1s';
    transition-timing-function: 'ease-out';
    z-index: 2;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_header_mobile .main_menu_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.nav_header_mobile .main_menu_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_menu_item .menu_link {
    font-size: 24px;
    color: #338EEE;
}

.main_menu_item .menu_link:hover {
    color: #FED500;
    transition: color .35s;
}

.nav_header_mobile .main_menu_item:nth-child(n+2) {
    margin-top: 40px;
}

.header .social_links_wrapper {
    width: 100%;
    border-bottom: 1px solid #FED500;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 289px;
}

.social_icon {
    vertical-align: middle;
}

.footer {
    background: #F6FBFF;
}

.footer_content_top {
    padding-bottom: 34px;
    padding-top: 54px;
}

.footer_content_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
    max-width: 376px;
}

.footer .logo_wrapper {
    margin-bottom: 24px;
    width: unset;
}

.footer .logo {
    width: 65px;
}

.footer .logo_name {
    white-space: unset;
    font-size: 15px;
}

.nav_footer .menu_title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.nav_footer .main_menu_wrapper {
    display: flex;
    justify-content: space-between;
}

.nav_footer .main_menu_item {
    margin-bottom: 12px;
}

.nav_footer .main_menu_item:last-child {
    margin-bottom: 0;
}

.nav_footer .menu_link {
    font-size: 16px;
}

.footer .social_links_wrapper {
    width: 100%;
    background: #338EEE;
}

.footer .social_links {
    padding-bottom: 20px;
    max-width: 210px;
}

.footer .social_link {
    display: flex;
}

.fb_social_icon path {
    fill: #FFF;
    transition: fill .35s;
}

.fb_social_icon:hover path {
    fill: #FED500;
    transition: fill .35s;
}

.tw_social_icon path {
    fill: #FFF;
    transition: fill .35s;
}

.tw_social_icon:hover path {
    fill: #FED500;
    transition: fill .35s;
}

.youtube_social_icon path {
    fill: #FFF;
    transition: fill .35s;
}

.youtube_social_icon:hover path {
    fill: #FED500;
    transition: fill .35s;
}

.wa_social_icon path {
    fill: #FFF;
    transition: fill .35s;
}

.wa_social_icon:hover path {
    fill: #FED500;
    transition: fill .35s;
}

.tg_social_icon path:first-child {
    fill: #FFF;
    transition: fill .35s;
}

.tg_social_icon:hover path:first-child {
    fill: #FED500;
    transition: fill .35s;
}

.sk_social_icon path {
    fill: #FFF;
    transition: fill .35s;
}

.sk_social_icon:hover path {
    fill: #FED500;
    transition: fill .35s;
}

.copyright {
    color: #fff;
}

.footer_content_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel {
    width: 100%;
    height: 378px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.slider {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: all 1s;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide:nth-child(1) {
    opacity: 1;
    z-index: 1;
    background-image: url('assets/slide_1.png');
    background-position: center;
    background-size: auto 120%;
}

.slide:nth-child(2) {
    background-image: url('assets/slide_3.png');
    background-position: bottom right;
}

.slide_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slide_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section_title {
    font-family: 'Fraundes', serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.2;
    color: #338EEE;
    white-space: pre;
}

.slide:nth-child(2) .section_title {
    color: #FED500;
}

.slide:nth-child(2) .section_description {
    color: #FFF;
}

.slide_content_wrapper .section_description {
    color: #353535;
    white-space: pre;
    margin-top: 15px;
    text-align: center;
}

.slide_content_wrapper .btn_wrapper {
    margin-top: 25px;
}

.mission {
    padding-bottom: 120px;
}

.hero_section {
    padding: 0;
}

section {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.section_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission::before,
.mission_intro::before,
.contacts::before {
    content: '';
    position: absolute;
    bottom: -25px;
    right: 0;
    background-image: url('assets/flowers_pattern.svg');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 392px;
    height: 100%;
    background-size: 40%;
    background-position: bottom right;
    z-index: -1;
}

.section_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 788px;
}

.section_description+.section_description {
    margin-top: 15px;
}

.mission .section_text {
    max-width: 788px;
}

.mission_intro .section_text {
    max-width: 950px;
}

.section_description {
    text-align: left;
    margin-top: 30px;
}

.mission .section_title,
.stories .section_title,
.accounting .section_title,
.mission_intro .section_title,
.donation .section_title {
    position: relative;
}

.mission .section_title::before, 
.stories .section_title::before,
.accounting .section_title::before,
.mission_intro .section_title::before,
.donation .section_title::before {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    background-color: #FED500;
}

.donation .section_title::before {
    left: 0;
    transform: unset;
}

.stories .section_title::before {
    background-color: #FFF;    
}

.stories {
    background-image: url('assets/stories_bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.stories .section_title {
    color: #FED500;
}

.stories .section_description {
    color: #fff;
}

.stories .section_description+.section_description {
    font-weight: 500;
}

.stories .btn_wrapper {
    margin-top: 30px;
}

.stories .wrapper {
    position: relative;
}

.stories .image {
    display: none;
}

.mission_intro {
    position: relative;
}

.mission_intro .mission_intro_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1540px;
}

.mission_img_wrapper {
    width: 100%;
    max-width: 464px;
    margin-top: 50px;
}

.mission_img {
    width: 100%;
    vertical-align: middle;
}

.mission_description {
    background-color: #338EEE;
    padding-bottom: 0;
}

.mission_description .section_text {
    color: #FFF;
}

.mission_description .mission_img_wrapper {
    max-width: 975px;
    margin-top: 50px;
}

.mission_description .section_description {
    margin-top: 0;
    max-width: 645px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.mission_goal .section_icon {
    background-image: url('assets/mission_goal_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 174px;
    height: 134px;
}

.mission_goal .section_text {
    max-width: 985px;
}

.contacts {
    background-image: url('assets/contacts_bg.png');
    background-size: cover;
    background-position: center;
}

.contacts .section_title {
    color: #FED500;
}

.contacts .section_description {
    color: #FFF;
}

.contacts_wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.form_wrapper {
    width: 100%;
    max-width: 430px;
    padding: 28px 30px 28px 30px;
    background: #FEFEFE;
    box-shadow: 0px 0px 12px rgba(220, 188, 24, 0.49);
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.main_form ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_form ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.main_form ul li:last-child {
    margin-top: 30px;
    margin-bottom: 0;
}

.main_form ul li:nth-child(3) {
    margin-bottom: 0;
}

.main_form ul li label {
    margin-bottom: 5px;
}

.main_form ul li input,
.main_form ul li textarea {
    width: 100%;
    border: 2px solid #338EEE;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;  
}

.main_form ul li input:focus,
.main_form ul li textarea:focus {
    outline: none;
    border-color: #FED500;
}

.main_form ul li textarea {
    resize: none;
    height: 120px;
}

.main_form ul li input::placeholder,
.main_form ul li textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #8C8C8C;
}

.main_form ul li button {
    align-self: center;
    border: none;
    outline: none;
}

.main_form ul li .contact_email {
    align-self: center;
    color: #777777;
    margin-top: 10px;
}

.error_name,
.error_email,
.error_msg {
    position: absolute;
    left: 50%;
    bottom: -22px;
    transform: translateX(-50%);
    color: red;
}

.donation {
    position: relative;
}

.donation::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('assets/donation_decor.png');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 788px;
    height: 100%;
    background-size: 40%;
    background-position: top right;
    z-index: -1;    
}

.donation .section_content_wrapper {
    align-items: flex-start;
}

.donation_icons_wrapper {
    width: 100%;
    margin-top: 35px;
}

.donation_list {
    display: flex;
    width: 100%;
    max-width: 932px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.donation_list .donation_item {
    padding: 30px 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #C8DAEA;
    width: 50%;
    text-align: center;
}

.donation_list .donation_item:hover {
    border: 5px solid #C8DAEA;
    margin: -4px;
}

.donation_list .donation_item:hover label {
    color: #338EEE;
    transition: color .35s;
}

.donation_list .donation_item label {
    color: #1B1B1B;
    font-weight: 700;
    transition: color .35s;
    user-select: none;
}

.donation_item .donation_icon {
    display: inline-block;
    width: 57px;
    height: 57px;
    margin-bottom: 27px;
}

.donation_item:nth-child(1) .donation_icon {
    background-image: url('assets/refugees.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.donation_item:nth-child(2) .donation_icon {
    background-image: url('assets/residing.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.donation_item:nth-child(3) .donation_icon {
    background-image: url('assets/children.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.donation_item:nth-child(4) .donation_icon {
    background-image: url('assets/military.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.donation_amount_wrapper {
    width: 100%;
    max-width: 932px;
    position: relative;
    margin-top: 40px;
}

.donation_amount_wrapper::before {
    content: '$';
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    width: 100%;
    height: 100%;
    background-color: #338EEE;
    max-width: 62px;
    font-family: 'Fraunces', sans-serif;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donation_amount_wrapper .amount {
    width: 100%;
    padding: 15px 0px 15px 82px;
    font-size: 24px;
    font-weight: 700;
    border: 2px solid #338EEE;
}

.donation_amount_wrapper .amount:focus {
    outline: none;
}

.donation_subsctiption_wrapper {
    margin-top: 40px;
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.donation_subsctiption_wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 30px;
    width: 30px;
    border: 2px solid #C8DAEA;
  }

.donation_subsctiption_wrapper input:hover ~ .checkmark {
    background-color: #C8DAEA;
}
  
.donation_subsctiption_wrapper input:checked ~ .checkmark {
    background-color: #338EEE;
    border-color: #338EEE;
  }
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
.donation_subsctiption_wrapper input:checked ~ .checkmark:after {
    display: block;
  }
  
.donation_subsctiption_wrapper .checkmark:after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}


.donation_btns {
    width: 100%;
    max-width: 516px;
}

.btns_divider {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 19px;
    position: relative;
}

.btns_divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 45%;
    height: 1px;
    background-color: #C8DAEA;
}

.btns_divider::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 45%;
    height: 1px;
    background-color: #C8DAEA;
}

.donation_button_wrapper {
    width: 100%;
    max-width: 516px;
    position: relative;
}

.donation_button_wrapper:first-child {
    margin-top: 40px;
}

.donation_button_wrapper .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    color: #FFF;
    padding-left: 78px;
    position: relative;
}

.donation_button_wrapper .btn_paypal:hover {
    background-color: #4EA4FF;
    border-color: #4EA4FF;
    transition: all .35s;
}

.donation_button_wrapper .btn_gofundme:hover {
    background-color: #21D983;
    border-color: #21D983;
    transition: all .35s;
}

.donation_button_wrapper .btn_paypal:active,
.donation_button_wrapper .btn_gofundme:active {
    background-color: #FED500;
    border-color: #FED500;
    color: #338EEE;
}

.btn_paypal {
    background-color: #338EEE;
    border: 2px solid #338EEE;
}

.btn_gofundme {
    border: 2px solid #00B460;
    background-color: #00B460;
}

.btn_decoration {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 20%;
    max-width: 93px;
    min-width: 53px;
    height: 60px;
    background-color: #FFF;
    transform: translateY(-50%);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 1;
}

.btn_decoration::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33px;
    height: 33px;
}

.btn_paypal .btn_decoration::before {
    background-image: url('assets/icon_paypal.png');
}

.btn_gofundme .btn_decoration::before {
    background-image: url('assets/icon_gofundme.png');
}

/* Media Queries ---------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) {
    .logo_name {
        font-size: 16px;
    }

    .donation_icons_wrapper fieldset legend {
        font-size: 14px;
    }

    .footer_content_top {
        display: flex;
        justify-content: space-between;
    }

    .footer .logo_name {
        white-space: pre;
    }

    .footer_content_left {
        align-items: flex-start;
    }

    .nav_footer {
        width: 200px;
    }

    .nav_footer .menu_link {
        font-size: 14px;
    }

    .nav_footer .menu_title {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .section_description {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .carousel {
        height: 438px;
    }

    .slide:nth-child(1) {
        background-size: auto 140%;
    }

    .slide:nth-child(1) .slide_content_wrapper {
        position: relative;
        top: -35px;
    }

    .slide:nth-child(2) .wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .slide:nth-child(2) .slide_content_wrapper,
    .slide:nth-child(2) .slide_text {
        align-items: flex-start;
        text-align: left;    
    }

    .section_title {
        font-size: 28px;
    }

    .section_description {
        font-size: 16px;
    }

    .slide:nth-child(1) .section_description {
        white-space: unset;
        width: 320px;
    }

    .mission .section_description {
        text-align: center;
    }

    .mission_intro::before {
        top: -12px;
        left: 0;
        background-size: 50%;
        transform: rotate(180deg);
        z-index: -1;    
    }

    .mission_intro .mission_intro_wrapper {
        flex-direction: row-reverse;
    }

    .mission_intro .mission_img_wrapper {
        margin-top: 0;
        margin-right: 70px;
    }

    .mission_description {
        padding: 0;
    }

    .mission_description .mission_intro_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mission_description .section_content_wrapper {
        width: 50%;
    }

    .mission_description .section_description {
        max-width: 645px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
    }

    .mission_description .mission_img_wrapper {
        width: 50%;
        margin-top: 0;
    }

    .main_form ul li label,
    .main_form ul li input,
    .main_form ul li textarea,
    .main_form ul li input::placeholder,
    .main_form ul li textarea::placeholder {
        font-size: 16px;
    }

    .main_form ul li input, 
    .main_form ul li textarea {
        padding-left: 15px;
        padding-top: 12px;
        padding-bottom: 14px;
    }

    .donation_amount_wrapper .amount {
        padding: 30px 0px 30px 150px;
    }

    .donation_list {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 27px;
    }

    .donation_list .donation_item {
        width: unset;
    }

    .donation_amount_wrapper::before {
        max-width: 121px;
        font-size: 32px;
    }

    .donation_amount_wrapper .amount {
        font-size: 24px;
    }

    .donation_icons_wrapper fieldset legend {
        font-size: 16px;
    }

    .footer .logo_name {
        white-space: unset;
    }

    .footer_content_left {
        align-items: center;
    }

    .nav_footer {
        width: 240px;
    }

    .footer_content_bottom {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer .social_links {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 960px) {
    .logo_name {
        white-space: unset;
    }

    .header_wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
      }

    .icon_burger_wrapper {
        display: none;
    }    

    .nav_header_widescreen {
        display: block;
    }

    .nav_header_widescreen .main_menu_list {
        display: flex;
    }

    .nav_header_widescreen .main_menu_item {
        margin-right: 30px;
    }

    .nav_header_widescreen .main_menu_item:last-child {
        margin-right: 0;
    }

    .nav_header_widescreen .menu_link {
        display: inline-block;
        font-size: 16px;
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .mission {
        padding-bottom: 100px;
    }

    .mission::before {
        background-size: 50%;
    }

    .mission_intro::before {
        background-size: 70%;
        top: -18px;
    }

    .contacts::before {
        top: -12px;
        left: 0;
        background-size: 70%;
        transform: rotate(180deg);
        z-index: 0;    
    }

    .accounting {
        background-image: url('assets/accounting_bg.png');
        background-size: cover;
        background-size: cover;
        background-position: top left;
    }

    .accounting .wrapper {
        display: flex;
        justify-content: end;
    }

    .accounting .section_content_wrapper {
        width: 50%;
    }

    .accounting .section_title::before {
        left: 0;
        transform: unset;
    }

    .accounting .section_text {
        align-items: unset;
    }

    .accounting .section_description {
        text-align: left;
    }

    .contacts {
        background-image: none;
        background-color: #338EEE;
    }

    .contacts_wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .form_wrapper {
        margin-top: 0;
        margin-right: 50px;
    }

    .contacts .section_text {
        align-items: flex-start;
    }

    .contacts .section_description {
        text-align: left;
    }

    .donation::before {
        background-size: 50%;
    }

    .donation_icons_wrapper fieldset legend,
    .donation_list .donation_item label {
        font-size: 18px;
    }

    .donation_amount_wrapper .amount {
        padding: 30px 0px 30px 165px;
    }

    .nav_footer {
        width: 300px;
    }

    .nav_footer .menu_title {
        font-size: 16px;
    }

    .copyright {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1280px) {
    .nav_header_widescreen .menu_link {
        font-size: 20px;
    }
    
    .btn {
        font-size: 21px;
    }
    
    .header .logo {
        width: 88px;
    }

    .logo_name {
        font-size: 24px;
        white-space: unset;
        margin-left: 14px;
    }

    .carousel {
        height: 618px;
    }

    .section_title {
        font-size: 38px;
    }

    .section_description {
        font-size: 18px;
    }

    .slide:nth-child(1) .slide_content_wrapper {
        top: -70px;
    }

    .slide:nth-child(1) .section_description {
        width: 350px;
    }

    .mission::before {
        background-size: 70%;
    }

    .mission_intro::before,
    .contacts::before {
        background-size: 100%;
        top: -25px;
    }

    .mission .section_title::before, 
    .stories .section_title::before,
    .accounting .section_title::before,
    .mission_intro .section_title::before,
    .donation .section_title::before {
        bottom: -16px;
        width: 50px;
        height: 4px;
    }

    .mission_intro .mission_intro_wrapper {
        justify-content: space-around;
    }

    .mission_intro .mission_img_wrapper {
        margin-left: 50px;
    }

    .mission_description .section_description {
        text-align: center;
    }

    .section_description {
        margin-top: 50px;
    }

    .stories {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .stories .image {
        display: block;
        width: 55%;
        position: absolute;
        right: -56px;
        top: 0px;
        z-index: 1;
    }

    .stories .section_content_wrapper {
        width: 40%;
    }

    .accounting {
        padding-top: 220px;
        padding-bottom: 160px;
    }

    .donation_icons_wrapper fieldset legend,
    .donation_list .donation_item label,
    .donation_subsctiption_wrapper {
        font-size: 24px;
    }

    .donation_subsctiption_wrapper {
        padding-left: 55px;
    }

    .checkmark {
        width: 40px;
        height: 40px;
    }

    .donation::before {
        background-size: 70%;
    }

    .donation_subsctiption_wrapper .checkmark:after {
        width: 10px;
        height: 20px;
        top: 16px;
        border-width: 0 5px 5px 0;
    }

    .donation_amount_wrapper::before,
    .donation_amount_wrapper .amount {
        font-size: 36px;
    }

    .donation_icons_wrapper {
        margin-top: 75px;
    }

    .donation_list {
        margin-top: 27px;
    }

    .footer_content_top {
        padding-bottom: 74px;
        padding-top: 54px;
    }

    .footer .logo_name {
        font-size: 22px;
        margin-left: 10px;
    }

    .nav_footer {
        width: 420px;
    }

    .nav_footer .menu_title {
        font-size: 22px;
    }

    .nav_footer .menu_link {
        font-size: 16px;
    }

    .copyright {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .carousel {
        height: 663px;
    }

    .mission_description .section_description {
        padding-left: 0;
        padding-right: 0;
    }

    .donation::before {
        background-size: 100%;
    }
}

@media only screen and (min-width: 1600px) {
    .logo_name {
        font-size: 28px;
    }

    .nav_header_widescreen .menu_link {
        font-size: 24px;
    }

    .nav_header_widescreen .main_menu_list .menu_link {
        font-size: 24px;
        width: 87px;
    }

    .slide_content_wrapper .btn_wrapper {
        margin-top: 35px;
    }

    .btn {
        font-size: 21px;
    }

    .section_title {
        font-size: 50px;
    }

    .slide_text .section_description {
        font-size: 24px;
    }

    .section_description {
        font-size: 24px;
    }

    .donation_amount_wrapper::before,
    .donation_amount_wrapper .amount {
        font-size: 50px;
    }

    .slide:nth-child(1) .section_description {
        width: 520px;
    }

    .mission .section_text {
        max-width: 1040px;
    }

    .stories {
        padding-bottom: 100px;
    }

    .stories .image {
        width: 55%;
    }

    .contacts {
        background-color: unset;
        background-image: url('assets/contacts_bg.png');
        background-size: 125%;
        background-position: top left;
    }

    .form_wrapper {
        max-width: 630px;
        margin-right: 100px;
        padding: 48px 60px 48px 60px;
    }

    .main_form ul li {
        margin-bottom: 25px;
    }

    .main_form ul li:last-child {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1680px) {
    .stories .image {
        width: 50%;
    }
}

@media only screen and (min-width: 1920px) {
    .carousel {
        height: 975px;
    }

    .slide:nth-child(1) {
        background-size: auto 120%;
    }

    section {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .stories {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .stories .image {
        width: 830px;
        right: -100px;
        top: -38px;
    }

    .mission {
        padding-bottom: 188px;
    }

    .mission::before,
    .mission_intro::before {
        background-size: 100%;
    }

    .mission .section_title::before, 
    .stories .section_title::before,
    .accounting .section_title::before,
    .mission_intro .section_title::before,
    .donation .section_title::before {
        width: 70px;
        height: 6px;
    }

    .mission .section_text {
        max-width: 1380px;
    }

    .contacts {
        background-size: 110%;
    }
}